#point-history-card {
  width: 80%;
  background: #FFFACD;
  border-radius: 13px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  padding: 10px;
  box-shadow: black 0 5px 10px;
}

#point-history-card th, #point-history-card td{
  text-align: center;
  width: 25%
}

#point-history-card tr{
  height: 32px;
}

button{
  height: 30px;
  width: 120px;
}

.last-cell {
  padding-right: 10px;
}
