<div id="info-page">
  <br>
  <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
  <!--  TODO: pass user object here-->
  <h3>{{user.username}}</h3>
  <details id="about-project" style="margin-top: 20%;"><p style="font-size: larger;">
    <strong>Authors</strong>: Sawin Gosha, Agababyan Karlen<br>
    <strong>Src</strong>: <a href="//github.com/DeltaThreeEight/Lab4-Web">repo of Gosha</a> || <a
    href="//github.com/SunnyCapt/Lab4-Web">repo of Karlen</a><br>
    <strong>Var</strong>: 47128
  </p></details>
</div>
