<nav class="navbar navbar-inverse reset-border-radius">
    <ul class="nav">
      <li class="to-left {{section!='check-point'?'active':''}}"><a href="/profile">{{currentUser.username}}</a></li>
      <li class="to-left {{section=='check-point'?'active':''}}"><a href="/check-point">Check Point</a></li>
      <li class="to-right"><a href="#" (click)="logOut()"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
    </ul>
</nav>

<div class="container">
{{section}}
  <!-- Jumbotron Header -->
<!--  <header class="jumbotron my-4">-->
<!--    <h1 class="display-3">  <strong>{{currentUser.username}}</strong>, Welcome to your app </h1>-->
<!--    <p class="lead"> welcome to your profile-->
<!--    </p>-->
<!--    <div class="row">-->

<!--      <li><a href="#"><span class="glyphicon glyphicon-log-in" (click)="logOut()"></span> LogOut</a></li>-->


<!--    </div>-->
<!--  </header>-->

</div>





